<component th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/">
                        <span class="copy">&copy; Copyright 2024 </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer close -->
</component>