<component th:fragment="section-resume" xmlns:th="http://www.thymeleaf.org">

    <section id="section-resume">
        <div class="container relative">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h2>My Resume</h2>
                    <div class="space-border"></div>
                </div>
            </div>
            <div class="row gh-5">
                <div class="col-lg-6 wow fadeInUp">
                    <div class="p-4">
                        <h3 class="s_border">Experiences</h3>
                        <ul class="d_timeline">
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">June 11, 2024 - November 15, 2024</h3>
                                <p class="d_timeline-text"><span class="d_title">Programmer</span><span class="d_company">Acw Distribution Phil Inc</span>.</p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">January 15, 2024  - June 10, 2024</h3>
                                <p class="d_timeline-text"><span class="d_title">I.T Staff</span><span class="d_company">Pearl Plaza</span>WBridge Manpower Corp.</p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">June 2023 - Sept. 2023</h3>
                                <p class="d_timeline-text"><span class="d_title">Junior Programmer</span><span class="d_company">Ayala Mall Manila Bay</span>WBridges Manpower Corp.</p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">January 2023 - Mar. 2023</h3>
                                <p class="d_timeline-text"><span class="d_title">Junior Programmer</span><span class="d_company">Helix Software Corp.</span></p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">Feb. 10 2020 - Jul. 16 2021</h3>
                                <p class="d_timeline-text"><span class="d_title">Junior Java Programmer</span><span class="d_company">Upwork.com | Freelances</span></p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">June 1, 2022 - Sept. 5, 2022</h3>
                                <p class="d_timeline-text"><span class="d_title">Technical Support Engineer</span><span class="d_company">Netwiz Information System</span></p>
                            </li>
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">Nov 19, 2019 - Jan. 2020 | Dec 6, 2021 - May 27, 2022</h3>
                                <p class="d_timeline-text"><span class="d_title">Technical Installer</span><span class="d_company">Columbia Technologies Inc.</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp">
                    <div class="p-4">
                        <h3 class="s_border">Education</h3>
                        <ul class="d_timeline">
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title">2015 - 2019</h3>
                                <p class="d_timeline-text"><span class="d_title">Bachelor of Science in Information System</span><span class="d_company">(4 years Course).</span>Bestlink College of the Philippines. <br/> City of San Jose Del Monte, Bulacan</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</component>