<component th:fragment="background-section" xmlns:th="http://www.thymeleaf.org">

    <section id="section-about">
        <div class="container relative">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h2>About Me</h2>
                    <div class="space-border"></div>
                </div>
                <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                    <p>I am a Java developer from Quezon City with expertise in both front-end and back-end development.
                        With a strong passion for crafting seamless, efficient, and user-friendly applications, I thrive
                        in creating solutions that bridge design and functionality.

                        Over the course of my career, I have completed more than 285 projects, showcasing my dedication
                        to delivering high-quality work tailored to meet diverse client needs. My approach combines
                        technical proficiency with a continuous drive to learn and adapt from my surroundings, ensuring
                        that I stay ahead in the ever-evolving tech landscape.

                        Feel free to explore my portfolio to see a showcase of my work. I am always open to new
                        opportunities and challenges that push boundaries and inspire innovation. </p>
                </div>
                <div class="spacer-single"></div>
                <div class="col-lg-3 position-relative wow fadeIn" data-wow-delay=".2s">
                    <div class="position-relative">
                        <div class="progressbar" data-animate="false">
                            <div class="circle" data-percent="90">
                                <div></div>
                            </div>
                            <h4>HTML</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 position-relative wow fadeIn" data-wow-delay=".4s">
                    <div class="position-relative">
                        <div class="progressbar" data-animate="false">
                            <div class="circle" data-percent="80">
                                <div></div>
                            </div>
                            <h4>CSS</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 position-relative wow fadeIn" data-wow-delay=".6s">
                    <div class="position-relative">
                        <div class="progressbar" data-animate="false">
                            <div class="circle" data-percent="85">
                                <div></div>
                            </div>
                            <h4>Java</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 position-relative wow fadeIn" data-wow-delay=".8s">
                    <div class="position-relative">
                        <div class="progressbar" data-animate="false">
                            <div class="circle" data-percent="75">
                                <div></div>
                            </div>
                            <h4>Springboot</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</component>