<component th:fragment="section-services" xmlns:th="http://www.thymeleaf.org">

    <section id="section-services" class="no-bottom">
        <div class="container relative">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h2>What I Do</h2>
                    <div class="space-border"></div>
                </div>
                <div class="spacer-single"></div>
                <div class="row g-0">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay=".2s">
                        <div class="de_3d-box">
                            <div class="d-inner">
                                <i class="icon_genius id-color-2"></i>
                                <div class="text">
                                    <h3>Branding</h3>
                                    Empowering innovation through clean, efficient, and scalable code. Every keystroke is a step toward building solutions that drive progress and inspire the future."
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay=".4s">
                        <div class="de_3d-box">
                            <div class="d-inner">
                                <i class="icon_tools id-color-2"></i>
                                <div class="text">
                                    <h3>Development</h3>
                                    Transforming ideas into reality through code, creativity, and collaboration. Building solutions that shape the world, one line at a time."
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay=".6s">
                        <div class="de_3d-box">
                            <div class="d-inner">
                                <i class="icon_camera_alt id-color-2"></i>
                                <div class="text">
                                    <h3>Photography</h3>
                                    Capturing moments, crafting memories. Through the lens, we freeze time and transform fleeting instants into timeless stories."
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</component>