<component th:fragment="section-portfolio" xmlns:th="http://www.thymeleaf.org">

    <section id="section-portfolio" class="no-bottom">
        <div class="container relative">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h2>Portfolio</h2>
                    <div class="space-border"></div>
                </div>
            </div>
            <div id="gallery" class="row sequence">
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Archi Interior Design</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Rockfest Event</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Justica Lawyer</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Bluetec App</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Uhost Hosting</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item wow">
                    <div class="de_modal" data-url="single-project.html">
                        <div class="card-image-1 mod-c" data-tilt>
                            <div class="d-text">
                                <h3>Bolo Creative</h3>
                                <h5 class="d-tag">website</h5>
                            </div>
                            <img src="/images/img/Screenshot_5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</component>